<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>审核租房申请</title>
</head>
<body>
    <form action="/check_app/" method="post">
        {% csrf_token %}
        搜索申请ID：<input type="text" name="apply_id"/>
        搜索用户名：<input type="text" name="username"/>
        搜索房源ID：<input type="text" name="house_id"/>
        查看未被审核的：<input type="radio" name="not_allowed"/>
        <input type="submit"/>
    </form>
    <form action="/remind/" method="post">
        {% csrf_token %}
        <input type="submit" value="自动提醒缴费">
    </form>
    <a href="../main">返回</a>
    <br/>
    {% if apps %}
        {% for app in apps %}
            <tr>
                <td>apply_id:{{ app.apply_id }} </td>
                <td>username:{{ app.username }} </td>
                <td>house_id:{{ app.house_id }} </td>
                <td>is_allow:{{ app.is_allowed }} </td>
                {% if app.is_allowed %}
                    <td>allowed_by:{{ app.allowed_by }} </td>
                {% endif %}
                <td>is_paid:{{ app.is_paid }}</td>
                <td>rent_type:{{ app.rent_type }} </td>
                <td>起始日期：{{ app.s_y }}年{{ app.s_m }}月{{ app.s_d }}日</td>
                <td>时长：{{ app.duration }}</td>
                <form action="/user_info/" method="post">
                {% csrf_token %}
                <input name="user_name" type="hidden" value="{{app.username}}"/>
                <input name="apply_id" type="hidden" value="{{app.apply_id}}"/>
                <input type="submit" value="查看客户具体信息"/>
                 </form>
                 <form action="/confirm_payment/" method="post">
                {% csrf_token %}
                <input name="apply_id" type="hidden" value="{{app.apply_id}}"/>
                <input type="submit" value="确认支付成功"/>
                 </form>
                <form action="/cancel_apply/" method="post">
                {% csrf_token %}
                <input name="apply_id" type="hidden" value="{{app.apply_id}}"/>
                <input type="submit" value="拒绝订单"/>
                 </form>
            </tr>
            <br/>
        {% endfor %}
    {% endif %}
    {% if message %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endif %}
</body>
</html>