<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="UTF-8">
    <title>查看用户</title>
</head>
<body>
    <form action="/check_user/" method="post">
        {% csrf_token %}
        搜索ID：<input type="text" name="user_id"/>
        搜索用户名：<input type="text" name="username"/>
        <input type="submit" value="搜索"/>
    </form>
    <a href="../main">返回</a>
    <br/>
    {% if users %}
        {% for user in users %}
            {% if user.status == 1 %}
                <tr>
                    <td>{{ user.username }}</td>
                </tr>
                <form action="/check_user/" method="post">
                    {% csrf_token %}
                    <input name="selected_name" type="hidden" value="{{user.username}}">
                    <input type="submit" value="查看该用户信息"/>
                </form>
                <form action="/check_user/" method="post">
                    {% csrf_token %}
                    <input name="delete_name" type="hidden" value="{{user.username}}">
                    <input type="submit" value="删除该用户"/>
                </form>
                <br/>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if message %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endif %}
</body>
</html>