<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>创建租房订单</title>
</head>
<body>
    <form action="/create_apply/" method="post">
        {% csrf_token %}
    租客用户名：<input name="username" type="text"/>
    <br/>
    房源ID：<input name="house_id" type="number">
    <br/>
    短租<input name="rent_type" type="radio" value="short"/>
    <br/>
    长租<input name="rent_type" type="radio" value="long"/>
    <br/>
    起始时间<input name="s_y" type="number"/>年<input name="s_m" type="number">月<input name="s_d" type="number">日
    <br/>
    租房时长<input name="duration" type="number"/>天/月
        <input type="submit" value="提交"/>
    </form>
    <a href="../main">返回</a>
    {% if message %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endif %}
</body>
</html>