<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>处理投诉</title>
</head>
<body>
    <tr>
        <td>投诉ID:{{ report.report_id }} </td>
        <td>发起用户:{{ report.username }} </td>
        <td>订单ID:{{ report.apply_id }} </td>
        <td>处理状态:{{ report.status }} </td>
        <td>投诉标题：{{ report.title }}</td>
        <td>投诉内容：{{ report.content }}</td>

    </tr>
    <form action="/handle_reporting/" method="post">
        {% csrf_token %}
        处理结果：<input name="content" type="text"/>
        <input type="submit" value="提交"/>
    </form>
    <a href="../manage_reporting">返回</a>
    {% if message %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endif %}
</body>
</html>