<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
    <p>Hello {{ username }} 你是{{ kind }}</p>
    <a href="../search_house">我要租房</a>
    <br/>
    <a href="../show_info">个人中心</a>
    <br/>
    {% if kind == "CS" %}
        <a href="../add_technician">添加工单师傅</a>
        <br/>
        <a href="../add_house">添加房源</a>
        <br/>
        <a href="../check_app">审核租房申请</a>
        <br/>
        <a href="../send_message">发送消息</a>
        <br/>
        <a href="../create_apply">创建租房订单</a>
        <br/>
        <a href="../manage_repairing">管理保修</a>
        <br/>
        <a href="../check_user">查看用户</a>
        <br/>
    {% endif %}
    {% if kind == "user" %}
        <a href="../my_app">我的租房申请</a>
        <br/>
        <a href="../my_message">我的消息{{ unread }}</a>
        <br/>
        <a href="../my_repairing">我的工单</a>
        <br/>
    {% endif %}
    {% if kind == "tech" %}
        <a href="../my_repairing">我的工单</a>
        <br/>
    {% endif %}
    <a href="../logout">logout</a>
    <br/>
    {% if message %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endif %}
</body>
</html>