<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
</head>
<body>
    <form action="/my_app/" method="post">
        {% csrf_token %}
        搜索房源ID：<input type="text" name="house_id"/>
        <input type="submit"/>
    </form>
    <a href="../main">返回</a>
    <br/>
    {% if my_apps %}
        {% for app in my_apps %}
            <tr>
                <td>apply_id:{{ app.apply_id }} </td>
                <td>house_id:{{ app.house_id }} </td>
                <td>is_allowed:{{ app.is_allowed }} </td>
                {% if app.is_allowed == True %}
                    <td>allowed_by:{{ app.allowed_by }} </td>
                {% endif %}
                <td>is_paid:{{ app.is_paid }} </td>
                <td>rent_type:{{ app.rent_type }} </td>
                <td>起始日期：{{ app.s_y }}年{{ app.s_m }}月{{ app.s_d }}日</td>
                <td>时长：{{ app.duration }}</td>
                {% if  app.rent_type == 'short' %}
                {% if app.is_paid == False %}
                <form action="/pay/" method="post">
                    {% csrf_token %}
                    <input name="house_id" type="hidden" value="{{app.house_id}}">
                    <input name="apply_id" type="hidden" value="{{ app.apply_id }}">
                    <input type="submit" value="支付"/>
                </form>
                {% endif %}
                {% endif %}
            </tr>
            <br/>
            {% if app.is_paid == True %}
                <form action="/repairing/" method="post">
                    {% csrf_token %}
                    <input name="selected_id" type="hidden" value="{{ app.apply_id }}">
                    <input type="submit" value="报修"/>
                </form>
            {% endif %}
            {% if app.rent_type == 'long' %}
                {% if app.is_paid == True %}
                <form action="/specific_info/" method="post">
                    {% csrf_token %}
                    <input name="selected_id" type="hidden" value="{{app.house_id}}">
                    <input type="submit" value="长租续约"/>
                </form>
                {% endif %}
                {% if app.is_allowed == True %}
                <form action="/export_app/" method="post">
                    {% csrf_token %}
                    <input name="apply_id" type="hidden" value="{{app.apply_id}}">
                    <input name="house_id" type="hidden" value="{{app.house_id}}">
{#                    <input type="submit" value="生成合同"/>#}
                    <a href="/download_app/?apply_id={{app.apply_id}}">下载文件</a>
                </form>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if message %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endif %}
</body>
</html>