<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="UTF-8">
    <title>我的消息</title>
</head>
<body>
    <br/>
    {% if my_messages %}
        {% for message in my_messages %}
            <tr>
                <td>{{ message.title }}</td>
                <td>{{ message.sender }}</td>
                <td>消息状态:{{ message.status }}</td>
            </tr>
            <form action="/my_message/" method="post">
                {% csrf_token %}
                <input name="selected_id" type="hidden" value="{{message.my_message_id}}">
                <input type="submit" value="查看该消息"/>
            </form>
            <br/>
        {% endfor %}
    {% endif %}
    <a href="../main">返回</a>
</body>
</html>