<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <form action="/register/" method="post">
        {% csrf_token %}
        请输入用户名<input type="text" name="username"/>
        <br/>
        请输入密码<input type="password" name="password1"/>
        <br/>
        请确认密码<input type="password" name="password2"/>
        <br/>
        请输入邮箱<input type="email" name="email"/>
        <br/>
        <button type="submit">提交</button>
    </form>
    <a href="../">back to home</a>
    <br/>
    <a href="../login">go to login</a>
        {% if message %}
            <script type="text/javascript">
                alert("{{ message }}");
            </script>
        {% endif %}
</body>
</html>